@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f3f4;
  --foreground: #2b2b2b;
  --clock-subtitle: #6d7177;
  --gradient-start: #ff9a9e;
  --gradient-end: #fad0c4;
  --weather-card-gradient-start: #f7f7f7;
  --weather-card-gradient-end: #e3e3e3;
  --weather-card-shadow: rgba(0, 0, 0, 0.1);
}

/* Dawn theme (5am-7am) */
.theme-dawn {
  --background: #f5f3f4;
  --foreground: #2b2b2b;
  --clock-subtitle: #53585f;
  --gradient-start: #ff9a9e;
  --gradient-end: #fad0c4;
  --weather-card-gradient-start: #f7f7f7;
  --weather-card-gradient-end: #e3e3e3;
  --weather-card-shadow: rgba(0, 0, 0, 0.1);
}

/* Morning theme (7am-10am) */
.theme-morning {
  --background: #ff7e5f;
  --foreground: #feb47b;
  --clock-subtitle: #505050;
  --gradient-start: #000000;
  --gradient-end: #000000;
  --weather-card-gradient-start: #000000;
  --weather-card-gradient-end: #000000;
  --weather-card-shadow: rgba(0, 0, 0, 0.25);
  /*   --background: #ffffff;
  --foreground: #171717;
  --clock-subtitle: #38393b;
  --gradient-start: #ff7e5f;
  --gradient-end: #feb47b;
  --weather-card-gradient-start: #ececec;
  --weather-card-gradient-end: #c0c0c0;
  --weather-card-shadow: rgba(0, 0, 0, 0.15);*/
}

/* Noon theme (10am-2pm) */
.theme-noon {
  --background: #f6d365;
  --foreground: #fda085;
  --clock-subtitle: #505050;
  --gradient-start: #000000;
  --gradient-end: #000000;
  --weather-card-gradient-start: #000000;
  --weather-card-gradient-end: #000000;
  --weather-card-shadow: rgba(0, 0, 0, 0.25);
  /*   --background: #ffffff;
  --foreground: #000000;
  --clock-subtitle: #2c2c2c;
  --gradient-start: #f6d365;
  --gradient-end: #fda085;
  --weather-card-gradient-start: #f8f8f8;
  --weather-card-gradient-end: #dadada;
  --weather-card-shadow: rgba(0, 0, 0, 0.2); */
}

/* Afternoon theme (2pm-5pm) */
.theme-afternoon {
  --background: #d4a5ff;
  --foreground: #8a2be2;
  --clock-subtitle: #505050;
  --gradient-start: #000000;
  --gradient-end: #000000;
  --weather-card-gradient-start: #000000;
  --weather-card-gradient-end: #000000;
  --weather-card-shadow: rgba(0, 0, 0, 0.25);
  /*   --background: #fdfbf7;
  --foreground: #1a1a1a;
  --clock-subtitle: #454545;
  --gradient-start: #d4a5ff;
  --gradient-end: #8a2be2;
  --weather-card-gradient-start: #f5f5f5;
  --weather-card-gradient-end: #c8c8c8;
  --weather-card-shadow: rgba(0, 0, 0, 0.17); */
}

/* Evening theme (5pm-7pm) */
.theme-evening {
  --background: #3498db;
  --foreground: #3498db;
  --clock-subtitle: #505050;
  --gradient-start: #000000;
  --gradient-end: #000000;
  --weather-card-gradient-start: #000000;
  --weather-card-gradient-end: #000000;
  --weather-card-shadow: rgba(0, 0, 0, 0.25);
  /*   --background: #1a1b1f;
  --foreground: #afafaf;
  --clock-subtitle: #505050;
  --gradient-start: #7ea1c5;
  --gradient-end: #318bc7;
  --weather-card-gradient-start: #302f31;
  --weather-card-gradient-end: #212027;
  --weather-card-shadow: rgba(0, 0, 0, 0.25); */
}

/* Dusk theme (7pm-9pm) */
.theme-dusk {
  --background: #7ea1c5;
  --foreground: #7ea1c5;
  --clock-subtitle: #505050;
  --gradient-start: #000000;
  --gradient-end: #000000;
  --weather-card-gradient-start: #000000;
  --weather-card-gradient-end: #000000;
  --weather-card-shadow: rgba(0, 0, 0, 0.25);
  /*   --background: #1a1b1f;
  --foreground: #ffffff;
  --clock-subtitle: #a0a0a0;
  --gradient-start: #2c3e50;
  --gradient-end: #3498db;
  --weather-card-gradient-start: #2d2d2d;
  --weather-card-gradient-end: #1a1a1a;
  --weather-card-shadow: rgba(0, 0, 0, 0.25); */
}

/* Night theme (9pm-12am) */
.theme-night {
  --background: #410086;
  --foreground: #410086;
  --clock-subtitle: #505050;
  --gradient-start: #000000;
  --gradient-end: #000000;
  --weather-card-gradient-start: #000000;
  --weather-card-gradient-end: #000000;
  --weather-card-shadow: rgba(0, 0, 0, 0.25);
  /*   --background: #0a0a0a;
  --foreground: #ededed;
  --clock-subtitle: #9ca3af;
  --gradient-start: #410086;
  --gradient-end: #2575fc;
  --weather-card-gradient-start: #17191a;
  --weather-card-gradient-end: #171a1b;
  --weather-card-shadow: rgba(0, 0, 0, 0.15); */
}

/* Midnight theme (12am-5am) */
.theme-midnight {
  --background: #151515;
  --foreground: #151515;
  --clock-subtitle: #505050;
  --gradient-start: #000000;
  --gradient-end: #000000;
  --weather-card-gradient-start: #000000;
  --weather-card-gradient-end: #000000;
  --weather-card-shadow: rgba(0, 0, 0, 0.25);
  /*   --background: #121212;
  --foreground: #ffffff;
  --clock-subtitle: #888888;
  --gradient-start: #141e30;
  --gradient-end: #243b55;
  --weather-card-gradient-start: #222222;
  --weather-card-gradient-end: #151515;
  --weather-card-shadow: rgba(0, 0, 0, 0.3); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --clock-subtitle: #9ca3af;
    --gradient-start: #410086;
    --gradient-end: #2575fc;
    --weather-card-gradient-start: #17191a;
    --weather-card-gradient-end: #171a1b;
    --weather-card-shadow: rgba(0, 0, 0, 0.15);
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* loading spinner */

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end loading spinner */
